<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To DO List</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
</head>

<body>
    <div class="contaner">
        <div class="data">AHMEDYSF100🥵</div>
    </div>
    <div class="wrapper">
        <div class="main-container">
            <div class="top">
                <div class="title">
                    <h1 id="date"><%= dateee %> </h1>
                    <!-- <h2>You've got <span class="total__items">total_i</span> to do today!</h2> -->
                </div>
                <form action="/" method="post">
                    <button type="submit" class="add__btn">+</button>
            </div>
            <div class="bottom">
                <div class="add">
                    <div class="add__container">
                        <input type="text" name="toDoItem" class="add__description"
                            placeholder="What would you like to do today?">
                    </div>
                </div>
                </form>
                <div class="container clearfix">
                    <div class="todos">
                        <div class="todos">
                            <div class="todos__list">
                                <% for( let i = 0; i < s.length; i++ ) { %>
                                <div class="item"
                                    style="background:linear-gradient(to bottom, rgba(255,190,11, 1) 0%, rgba(255,190,11, 0.8) 100%)">

                                    <div class="item__delete box center">
                                        <input type="checkbox" autocomplete="off" class="item__delete--btn"></input>
                                        <p class="item__description" ><%= s[i] %> </p>


                                    </div>

                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
        
    </div>
    
    <script type="text/javascript">
        const text = baffle(".data")
        text.set({
        characters : '<▓░ ▒▒░█/ ░▒░<░ /█> /█▒░> █░▒> ░░▓ /▓▒█ ▓/▓▓',
        speed :120
    });
    text.start();
    text.reveal(40000);
    </script>
</body>

</html>